:root {
  --bg-color: #111;
  --text-color: #e0e0e0;
  --accent-color: #0070f3;
  /* Azul Next.js ou outra cor de destaque */
  --secondary-text: #888;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}